<div class="Content">
    <mat-tab-group class="table">
        <mat-tab>
            <ng-template class="modal-header" mat-tab-label>
                <h3>CONTACTANOS</h3>
            </ng-template>
            <ng-template matTabContent>
                <div class="div-container">
                    <div class="icon-text-container">
                        <mat-icon>phone_in_talk</mat-icon>
                        <p>Telefonos: (+51) 965 104 572</p>
                    </div>
                    <div class="icon-text-container">
                        <mat-icon>mail</mat-icon>
                        <p>Correos: {{correo}}</p>
                    </div>
                    <div class="icon-text-container">
                        <mat-icon>public</mat-icon>
                        <p>Pagina web: <a href="https://dirislimanorte.com/" target="_blank">www.dirislimanorte.com</a></p>
                    </div>
                </div>
            </ng-template>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <h3>SOPORTE</h3>
            </ng-template>
            <ng-template matTabContent>
                <div class="div-container">
                    <div class="icon-text-container">
                        <mat-icon>phone_in_talk</mat-icon>
                        <p>Telefonos: (+51) 965 104 572</p>
                    </div>
                    <div class="icon-text-container">
                        <mat-icon>mail</mat-icon>
                        <p>Correos: {{correo}}</p>
                    </div>
                    <div class="icon-text-container">
                        <mat-icon>public</mat-icon>
                        <p>Pagina web: <a href="https://dirislimanorte.com/" target="_blank">www.dirislimanorte.com</a></p>
                    </div>
                </div>
            </ng-template>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <h3>OTROS</h3>
            </ng-template>
            <ng-template matTabContent>
                <div class="div-container">
                    <div class="icon-text-container">
                        <mat-icon>phone_in_talk</mat-icon>
                        <p>Telefonos: (+51) 965 104 572</p>
                    </div>
                    <div class="icon-text-container">
                        <mat-icon>mail</mat-icon>
                        <p>Correos: {{correo}}</p>
                    </div>
                    <div class="icon-text-container">
                        <mat-icon>public</mat-icon>
                        <p>Pagina web: <a href="https://dirislimanorte.com/" target="_blank">www.dirislimanorte.com</a></p>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>